[color]
	ui = auto
[alias]
	st = status
	co = checkout
	ci = commit -v
	br = branch
	bro = browse-remote
	pu = pull -p
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
	# git-flow
	ffs = flow feature start
	ffp = flow feature publish
	fff = flow feature finish -k
	fhs = flow hotfix start
	fhf = flow hotfix finish -k
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	precomposeunicode = true
[merge]
	keepBackup = false
	tool = p4merge
	ff = false
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[pull]
	rebase = true
[push]
	default = simple
[browse-remote "github.com"]
	# gem install git-browse-remote
	top = https://{host}/{path}
	ref = https://{host}/{path}/tree/{short_ref}
	rev = https://{host}/{path}/commit/{commit}
	file = "https://{host}/{path}/blob/{short_rev}/{file}{line && \"#L%d\" % line}"
[browse-remote "bitbucket.org"]
	top = https://{host}/{path}
	ref = https://{host}/{path}/src/{short_ref}
	rev = https://{host}/{path}/commits/{commit}
	file = "https://{host}/{path}/src/{short_rev}/{file}{line && \"#L%d\" % line}"
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[include]
	path = ~/.gitconfig.local
