[alias]
	st = status
	co = checkout
	ci = commit -v
	br = branch
	pu = pull -p
	ph = push origin HEAD
	di = diff -b
	ds = diff --staged -b
[color]
	ui = auto
[core]
	attributesfile = ~/.gitattributes_global
	precomposeunicode = true
	pager = bat
	commentchar = ";"
[diff]
	renames = true
	indentHeuristic = true
[include]
	path = ~/.gitconfig.local
[init]
	templatedir = ~/.git-templates/git-secrets
[merge]
	keepBackup = false
	ff = false
	conflictstyle = diff3
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	autostash = true
[stash]
	showPatch = true
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
